
@font-face {
    font-family: 'Source Serif Pro';
    src: url(/assets/SourceSerifPro-Bold-adb9fd10938b2d20182b7e15ee155c5f90dbfd7e11363070a72656d757967dd7.woff2) format('woff2'),
        url(/assets/SourceSerifPro-Bold-06d35ef3613f58069b85f8bc8113a5b9c9bcba17b90cac9000e52f1b1aac0854.woff) format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}



@font-face {
    font-family: 'Source Serif Pro';
    src: url(/assets/SourceSerifPro-SemiBold-b16beb689bea5b3af91a452bcba53e3d43b4ebd8616f95b22b2b511b7b12f92f.woff2) format('woff2'),
        url(/assets/SourceSerifPro-SemiBold-034fd03ab396de3f6ed63f155be53cc792ec88e22c5ec60ca116bc406a881e77.woff) format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(/assets/SourceSerifPro-Regular-458f5cb95166535d913aad4d8845e424a0d90b41e53dcc8bf65e84ebb19e6e48.woff2) format('woff2'),
        url(/assets/SourceSerifPro-Regular-8eea36620a4850f6940606df1e4648d062522ac83ba31b9dc57d9ae99c9dc39f.woff) format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(/assets/SourceSerifPro-It-ac80c96fdee339518535f9f64e83107c8e6b15813e1abca8dffc90fc60b3922b.woff2) format('woff2'),
        url(/assets/SourceSerifPro-It-7244fafad0056ad09f20e508e6b853630eb318ba272b97ef843632b251aa0012.woff) format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(/assets/SourceSerifPro-SemiBoldIt-bbd8ed1cecc34efbc6d78733dc920eeaae33afd1c5c32706a332437a5a4155ca.woff2) format('woff2'),
        url(/assets/SourceSerifPro-SemiBoldIt-29d4d5cca8ecf15ea9310f4144f803d9171dbabd3a69412e7ebe5a12e259eb15.woff) format('woff');
    font-weight: 500;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Source Serif Pro';
    src: url(/assets/SourceSerifPro-BoldIt-6d834911e5951d589bab5c8a305c970fb7adf28275ec5429b468e574531f0912.woff2) format('woff2'),
        url(/assets/SourceSerifPro-BoldIt-006dc1ac1a6c4822c29073454e1be17d1e6d2c756c86331b203957c795e097d3.woff) format('woff');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}




:root {
	--font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantrell, "Open Sans", "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	--font-serif: "Iowan Old Style", 'Source Serif Pro', "Iowan Old Style", "Sitka Text", Palatino, "Book Antiqua", serif;

	color-scheme: light dark;
}


body {
	--font: var(--font-sans);
	--link-color: var(--text-color);
	--page-bg: var(--page-bg-colors);
	--theme-colors: 6,89,221;
	--theme-colors: 0,122,254;
}

body.theme-dark {
	--page-bg-colors: 24,26,28;
	--text-color: rgb(251,253,255);
}

body.theme-light {
	--page-bg: #f4f4f4;
	--page-bg: #fff;
	--wrap-bg: rgb(255,255,255);
	--page-bg-colors: 255,255,255;
	--text-color: #111;
	--text-color-light: rgba(101,101,103,0.8);
	--input-border-color: #ccc;
	--input-border-color: rgb(199,199,199);
	--input-border-color: rgb(189,189,189);
	--input-border-color: rgb(179,179,179);
	--input-bg-color: #fcfcfc;
	--input-bg-color: #fdfdfd;
	--header-shadow-color: 1,26,48;
	--header-shadow-opacity: 0.15;
	--header-bg-colors: 249,249,249;
	--header-bg-colors: 245,245,245;
	--header-bg-colors: 255,255,255;
	--header-border-colors: 177,177,177;
	--header-border-colors: 255,255,255;
	--bubble-bg: rgb(233,233,235);
	--bubble-user-bg: rgb(37,147,255);
	--settings-bg: rgb(247,247,247);
	--settings-bg: rgb(245,245,245);
	--slider-bg: rgb(231,233,234);
	--slider-thumb-bg: #fff;
	--slider-box-shadow: 0px 2px 8px -1px rgba(0,0,0,0.2), 0px 0px 1px rgba(0,0,0,0.4);
}


html {
	scrollbar-color: hsla(0,0%,100%,.3) transparent;
	margin: 0px;
    padding: 0px;
}

body {
	background: var(--page-bg);
	font-family: var(--font);
	color: var(--text-color);
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	cursor: default;
	margin: 0px;
    padding: 0px 0px 0px 0px;
}

html,
body {
	
}

/*
body {
	min-height: 100vh;
	min-height: -webkit-fill-available;
}
html {
	height: -webkit-fill-available;
}
*/


* {
	-webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
	-webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
	-webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

input {
	-webkit-user-select: text;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

a, 
a:link, 
a:visited, 
a:hover, 
a:active {
	color: var(--link-color);
	text-decoration: underline;
}
a:hover {
	
}



.bg-image {
	background-image: url(/assets/heaven-59ad60848194ffe212af7e6641b9b45a4a081cd7740960fe8231a6f30ce6830d.png);
	background-size: cover;
	background-position: 50% 40%;
	background-repeat: no-repeat;
	background-color: rgb(43, 103, 175);
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: -1;
	
	animation: bg-pulse 25s ease-in-out infinite;
	filter: brightness(1.5) blur(18px);
	filter: brightness(1) blur(0px);
	filter: none;
	transform: scale(1.0);
}
@keyframes bg-pulse {
    0% {
        transform: scale(1.0);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1.0);
    }
}


.body-wrap,
.body-wrap-inner {
	
}
.body-wrap {
	margin: 0px auto 0px auto;
	max-width: 400px;
}
.body-wrap-inner {
	position: relative;
	background: transparent;
}
@media (min-width: 420px)
{
	.body-wrap {
		
	}
	.body-wrap-inner {
		
	}
}


.wrap,
.wrap-inner {
	
}
.wrap {	
	
}
.wrap-inner {
	padding: 120px 0px 120px 0px;
	padding: 0px;
	position: relative;
	/*
	overflow: scroll; 
	overflow-x: hidden; 
	-webkit-overflow-scrolling: touch;
	overscroll-behavior: contain;
	*/
}


.container {
	width: 100%;
	padding-bottom: 0px;
	padding-top: 1px;
	box-shadow: 0px 0px 5px rgba(0,10,20,0.03), 0px 0px 1px rgba(0,10,20,0.28);
	box-shadow: none;
	min-height: calc(100vh - 332px);
}

.page-wrap {
	text-align: center;
	font-weight: 500;
	padding: 40px 15px 0px 15px;
	color: rgb(31, 41, 55);
	color: rgb(51, 55, 64);

	max-width: 1120px;
	max-width: 1024px;
	max-width: 1000px;
	width: 100%;
	margin: 0px auto;
	padding-left: 21px;
	padding-right: 21px;
	position: relative;
}
@media (max-width: 760px)
{
	.page-wrap {
		padding-top: 25px;
	}
}
.page-logo a {
	text-decoration: none;
}

.page-heading {
	margin-top: 70px;
	margin-bottom: 15px;
	font-size: 29px;
	line-height: 42px;
	font-weight: 700;
}
.page-heading-small {
	font-size: 27px;
}
@media (max-width: 760px)
{
	.page-heading {
		margin-top: 35px;
	}
}


.page-card {
	padding: 27px 31px;
	max-width: 420px;
	max-width: 415px;
	max-width: 362px;
	margin: 36px auto 100px auto;
	background: #fff;
	box-shadow: 0px 1px 3px -0px rgba(0,1,6,0.1), 0px -1px 9px rgba(0,1,6,0.07);
	border-radius: 14px;
	padding: 22px 25px;
	padding: 26px 29px;
	max-width: 362px;
	max-width: 375px;
	border-radius: 14px;
}

.page-card-content {
	display: block;
}
.page-card-loading {
	display: none;
	background: transparent url(/assets/loading-balls-81952261b4bdc7a1c6bb7456e6f1f9357e36283f7ea46b35735e61c758d7f8dc.gif) no-repeat 50% 50%;
	background-size: 120px;
	height: 120px;
}


.page-input-wrap {
	padding: 0px 0px 13px 0px;
}
@media (max-width: 760px)
{
	.page-input-wrap {
		padding: 0px 0px 11px 0px;
	}
}
.page-label {
	display: block;
	font-weight: 600;
	text-align: left;
	padding-bottom: 3px;
	font-size: 14px;
	user-select: none;
	display: block;
}
.page-label-right {
	font-weight: 500;
	float: right;
	color: rgba(105,112,126,1);
	font-size: 12px;
	position: relative;
	top: 1px;
	color: rgba(252,45,85,1);
}
.page-input {
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
	background-color: #fff;
	border: 1px solid rgba(208,212,218,1);
	border-radius: 6px;
	font-size: 15px;
	line-height: 20px;
	font-weight: 500;
	padding: 11px 16px;
	margin: 0px;
	box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
	width: 100%;
	display: block;
	outline: none !important;
	user-select: text;
	color: var(--text-color) !important;
}
.page-input-code {
	width: 132px; 
	letter-spacing: 8px; 
	text-align: left;
	font-weight: 700;
	font-size: 17px;
	padding: 10px 16px;
}
@media (max-width: 320px)
{
	.page-input {
		font-size: 14px;
		padding: 10px 15px;
	}
	.page-input-code {
		width: 120px; 
	}
}
.page-input:focus {
    border: 1px solid rgb(100,102,104);
    box-shadow: 0px 0px 6px rgba(var(--theme-colors),0);
}
.page-input-error {
	border-color: rgba(252,45,85,1) !important;
}
.page-input-tagline {
	text-align: left;
	font-size: 12px;
	color: rgba(73,83,97,0.85);
	margin: 12px 0px 6px 8px;
	font-weight: 500;
}
@media (max-width: 760px)
{
	.page-input-tagline {
		margin-bottom: 5px;
	}
}
@media (max-width: 320px)
{
	.page-input-tagline {
		margin-bottom: 0px;
	}
}
.page-button {
	text-align: center;
	font-weight: 800;
	padding: 13px 0px 14px 0px;
	border-radius: 100px;
	background: rgba(var(--theme-colors),1);
	color: #fff;
	cursor: pointer;
	font-size: 16px;
	line-height: 26px;
	margin-top: 15px;
	will-change: transform;
	transition: background 0.2s ease;
	transition: transform 0.15s ease-in-out, box-shadow 0.15s ease-out;
	will-change: transform, box-shadow;
	transform-origin: 50% 80%;
	box-shadow: 0px 5px 12px -5px rgba(var(--theme-colors),0.35);
	user-select: none;
}
.page-button-secure div {
	display: inline-block;
	background: transparent url(/assets/icon-padlock-119b794ff659cf0440136a836e5a2bdeaf594890e0dcca8859de351c7485e688.png) no-repeat 0px 0px;
	background-size: 18px;
	height: 18px;
	width: 18px;
	margin-right: 11px;
	position: relative;
	top: -2px;
	vertical-align: middle;
	opacity: 0.98;
}
.page-button-inline {
	margin-top: 0px;
	display: inline-block;
	padding: 9px 25px 11px 25px;
	white-space: nowrap;
}
@media (max-width: 320px)
{
	.page-button {
		font-size: 15px;
		padding: 10px 0px 11px 0px;
	}
	.page-button-inline {
		padding: 7px 19px 8px 19px;
	}
}
.page-button span {
	display: inline-block;
	transition: transform 0.2s ease;
	will-change: transform;
	position: relative;
	top: 0px;
	left: 0px;
}
.page-button:hover {
	box-shadow: 0px 4px 16px -7px rgba(var(--theme-colors),0.65);
	transform: scale(1.02) translateY(-0px);
}
.page-button:hover span {
	transform: translateX(3px);
}
.page-button-info {
	font-size: 12px;
	line-height: 19px;
	color: rgba(51,55,64,0.8);
	padding: 17px 10px 0px 10px;
}
.page-card-footer {
	text-align: center;
	font-size: 13px;
	color: rgba(73,83,97,0.85);
	color: rgba(51,55,64,1);
	margin-top: 32px;
	margin-top: 29px;
	font-weight: 500;
	padding-bottom: 0px;
}
.page-card-footer-left {
	text-align: left;
	padding-left: 4px;
}
.page-card-footer-heading {
	font-weight: 700;
	font-size: 15px;
	color: rgb(51, 55, 64);
	padding-bottom: 4px;
}
.page-card-footer ul {
	padding-left: 25px;
	margin-bottom: 0px;
	font-size: 13px;
	line-height: 20px;
}
@media (max-width: 760px)
{
	.page-card-footer ul {
		padding-left: 23px;
		font-size: 12px;
	}
}
@media (max-width: 320px)
{
	.page-card-footer ul {
		padding-left: 15px;
		line-height: 18px;
	}
}
.page-card-footer li {
	padding-bottom: 3px;
}
.page-card-footer li:last-child {
	padding-bottom: 8px;
}
.page-card-footer-space li {
	padding-bottom: 14px;
}
.page-card-footer-space li:last-child {
	padding-bottom: 6px;
}
.page-card a:link,
.page-card a:visited,
.page-card a:active {
	text-decoration: none;
	border-bottom: 1px solid rgba(29,39,53,0.2);
	color: rgba(29,39,53,1);
}
.page-card a:hover {
	text-decoration: none;
	border-color: rgba(var(--theme-colors),0.25);
	color: rgba(var(--theme-colors),1);
}
.page-footer {
	margin-top: 50px;
	font-size: 12px;
	color: rgba(105,112,126,1);
	color: rgb(51, 55, 64);
	opacity: 0.6;
	font-weight: 500;
	display: none;
}


.page-card-heading {
	text-align: left;
	font-size: 15px;
	line-height: 24px;
	font-weight: 500;
	margin-bottom: 22px;
	padding-left: 4px;
}
.page-card-heading-small {
	font-size: 15px;
	line-height: 24px;
}
@media (max-width: 760px)
{
	.page-card-heading {
		font-size: 15px;
		line-height: 24px;
	}
	.page-card-heading-small {
		font-size: 14px;
		line-height: 22px;
	}
}
@media (max-width: 320px)
{
	.page-card-heading {
		font-size: 13px;
		line-height: 20px;
	}
	.page-card-heading-small {
		font-size: 13px;
		line-height: 19px;
	}
}




.admin-wrap {
	margin: 0px auto 50px auto;
	max-width: 1400px;
	padding: 0px 20px;
}
.admin-nav {
	padding: 10px 0px 40px 0px;
}
.admin-nav-right {
	float: right;
	font-size: 14px;
	padding-top: 0px;
	position: relative;
	top: -52px;
	background-color: #f4f4f4;
	border-radius: 10px;
	padding: 10px 14px;
}
@media (max-width: 420px)
{
	.admin-nav-right {
		float: none;
		top: -10px;
		margin-bottom: 15px;
	}
}
.nav-tabs {
	display: inline-block;
	background-color: #ecf7ff;
	padding: 3px 4px;
	border-radius: 100px;
	font-size: 14px;
	user-select: none;
	white-space: nowrap;
	overflow: scroll;
	max-width: 100%;

	background: rgba(255,255,255, 0.6);
    -webkit-backdrop-filter: blur(16px);
    backdrop-filter: blur(16px);
    box-shadow: 0px 1px 32px 12px rgba(180, 224, 254, 0.6);
}
.settings-tabs {
	margin: 18px 0px 11px 1px;
	font-size: 0px;
}
.nav-tabs a {
	text-decoration: none;
	border-radius: 100px;
	display: inline-block;
	padding: 7px 14px 7px 14px;
	margin: 0px 0px;
	font-size: 15px;
	user-select: none;
}
.nav-tabs a:first-child,
.nav-tabs a:last-child {
 	margin: 0px;
}
.nav-tabs span {
	background: #fff;
	border-radius: 20px;
	display: inline-block;
	font-size: 13px;
	font-weight: 600;
	padding: 1px 5px;
	margin-left: 6px;
}

.tab-credits {
	padding-right: 7px !important;
}
.tab-selected {
	font-weight: 600;
	background-color: #e0f2ff;
}
.tab-selected span {
	background: #fff;
}

.admin-nav span {
	font-size: 12px;
	padding: 0px 5px;
	position: relative;
	top: -1px;
}

.settings-content {
	display: none;
}

.account-message {
	font-size: 16px; 
	line-height: 23px;
	padding: 10px 0px 18px 0px;
}

.admin-row {
	padding: 5px 0px;
}
.admin-table {
	width: 100%;
}
.admin-table td {
	vertical-align: top;
	font-size: 12px;
	line-height: 16px;
	padding: 0px 24px 12px 0px;
}
.admin-table tr.table-header td {
	font-weight: 600;
	padding-bottom: 10px;
	white-space: nowrap;
}

.admin-table-referer {
	word-break: break-word;
}


.header,
.header-inner {
	height: 105px;
}
.view-main .header,
.view-main .header-inner {
	height: 137px;/*
	height: 80px;*/
}

@media (min-width: 420px)
{
	.header,
	.header-inner {
		height: 140px;
	}
	.view-main .header,
	.view-main .header-inner {
		height: 167px;/*
		height: 110px;*/
	}
}

.view-intro .header,
.view-intro .header-inner {
	height: auto;
}

.header {
	position: relative;
	top: 0px;
	left: 0px;
	width: 100%;
	z-index: 20;
}
.view-intro .header {
	position: relative;
}
.header-inner {
	margin: 0px auto 0px auto;
	max-width: 400px;
	padding: 15px 10px 10px 10px;
	background: rgba(var(--header-bg-colors), 0.85);
	background: rgba(var(--header-bg-colors), 0);
	background: rgb(231, 245, 255);
	background: transparent;
	/*
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);*/
	box-shadow: 0px 1px 0px rgba(var(--header-shadow-color),var(--header-shadow-opacity));
	box-shadow: none;
	border-bottom: 0px solid rgb(var(--header-border-colors));
	text-align: center;
	position: relative;
	user-select: none;
}
@media (min-width: 420px)
{
	.header-inner {
		padding-top: 35px;
	}
}

.header-search {
	position: relative;
	margin-top: 68px;
	margin-top: 72px;
	margin-top: 22px;
}
.view-intro .header-search {
	margin-top: 35px;
}

.header-search-inner {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	padding: 0px 4px;
}

.view-intro .header-search-inner {
	position: relative;
	top: auto;
	left: auto;
}

.view-chat .header-search {
	display: none;
}


.logo-wrap {
	position: relative;
	height: 50px;
	text-align: left;
}
.view-chat .logo-wrap {
	display: none;
}
.theme-religious .logo-wrap {
	
}

.logo {
	display: inline-block;
	cursor: pointer;
	font-size: 30px;
	font-size: 32px;
	font-weight: 400;
	font-family: var(--font-sans);
	font-style: italic;
	letter-spacing: -0.5px;
	padding: 10px 0px 0px 6px;
	user-select: none;
}
.logo b {
	font-weight: 800;
	letter-spacing: -0.5px;
	font-style: italic;
}

.tagline {
	display: none;
	font-family: var(--font-sans);
	font-size: 22px;
	line-height: 32px;
	opacity: 0.8;
	padding: 35px 0px 15px 0px;
	letter-spacing: -0px;
	font-weight: 400;
	font-style: normal;
}
.view-intro .tagline {
	display: block;
}

.view-intro .logo {
	padding: 129px 1px 17px 0px;
	padding: 129px 1px 25px 0px;
	font-size: 38px;
}
.view-intro .logo-wrap {
	text-align: center;
	height: auto;
}

.header-chat {
	display: none;
}
.header-avatar {
	height: 77px;
	width: 77px;
	background: #ddd;
	display: inline-block;
	border-radius: 50%;
	background-size: cover;
	opacity: 0.9;
	box-shadow: 0px 1px 32px 12px rgba(180, 224, 254, 0.6);
}
.header-name {
	font-size: 12px;
	text-overflow: ellipsis;
	overflow: hidden;
	max-width: 60%;
	margin: 0px auto;
	white-space: nowrap;
	display: none;
}


.header-button,
.header-button div {
	width: 40px;
	height: 40px;
}
.header-button {
	position: absolute;
	top: 19px;
	right: 14px;
	cursor: pointer;
	user-select: none;
}
.header-button-main {
	left: 14px;
	right: auto;
	display: none;
}
.theme-religious .header-button-main {
	display: none !important;
}
@media (min-width: 420px)
{
	.header-button {
		top: 49px;
	}
}
.header-button div {
	opacity: 0.9;
}
.header-button-main div {
	background: transparent url(/assets/icon-chats-47b12289141f7076d3adef1579a7eb72b97a50c2a484f5c3f4f48cff1b7116cc.png) no-repeat 50% 50%;
	background-size: 30px;
}
.header-button-settings div {
	background: transparent url(/assets/icon-settings-a90085ec23a44875595b3ce25df1d28fd1895f18fae9e0a36b9c5f9daa163b35.png) no-repeat 50% 50%;
	background-size: 21px;
	transform: rotate(90deg);
	border-radius: 50%;

	background-color: rgba(255,255,255, 0.8);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	box-shadow: 1px 2px 24px rgba(255,255,255, 0.57);
	box-shadow: 0px 1px 32px 12px rgba(255,255,255, 0.3);
	box-shadow: 0px 1px 32px 12px rgba(180, 224, 254, 0.6);
}
.header-button-share {
	display: none;
}
.header-button-share div {
	background: transparent url(/assets/icon-share-344771504622ee9df6c46d9afeb81af85d9a018f5a472bd9bf89c3964d9bcadb.png) no-repeat 50% 50%;
	background-size: 25px;
}

.header-button-close div {
	background-image: url(/assets/icon-cross-thin-4bf4120aeb037680df2f497238ef54826ab51a4b5542bf94630433853ab031b9.png);
	background-size: 20px;
}

.view-intro .header-button-settings {
	display: none;
}


.view-wrap {
	padding: 90px 15px 105px 15px;
}
.view-main .view-wrap {
	padding-top: 141px;/*
	padding-top: 88px;*/
}
@media (min-width: 420px)
{
	.view-wrap {
		padding-top: 120px;
		padding-bottom: 135px;
	}
	.view-main .view-wrap {
		padding-top: 171px;/*
		padding-top: 118px;*/
	}
}

.view-intro .view-wrap {
	padding-top: 0px !important;
	padding-bottom: 100px !important;
}



.main-wrap {

}

.main-inner {
	
}

.chats-wrap {
	padding-bottom: 10px;
	padding-bottom: 0px;
}
.feedback-wrap {
	padding: 20px 0px 0px 0px;
}

.search-toggle-wrap {
	text-align: center;
	padding-top: 5px;
}
.search-toggle {
	padding: 7px 14px 7px 29px;
	margin: 4px 12px 30px 0px;
	font-size: 15px;
	font-weight: 400;
	cursor: pointer;
	user-select: none;
	position: relative;
	display: inline-block;
	border-radius: 100px;
	background: rgb(244,244,245);
	background: rgb(242,244,246);
}
.search-toggle i {
	font-style: normal;
	position: absolute;
	top: 12px;
	left: 13px;
	display: block;
	background: transparent url(/assets/icon-chevron-abbc5ae31c4b142662963bd7b0d820fe2f7685f4f472a5c05d876c032970174b.png) no-repeat 50% 50%;
	background-size: 9px;
	width: 10px;
	height: 10px;
	transition: transform 0.5s ease;
	transform: rotate(90deg);
	opacity: 0.9;
}
.search-toggle-open i {
	transform: rotate(270deg);
	transform: rotate(-90deg);
}

.examples-wrap {
	display: none;
	padding-bottom: 100px;
}


.chat-wrap,
.search-wrap {
	padding: 5px 15px 105px 15px;
	/*min-height: 100vh;*/
}
@media (min-width: 420px)
{
	.chat-wrap,
	.search-wrap {
		padding-top: 5px;
		padding-bottom: 135px;
	}
}

.chat-wrap {
	opacity: 1;
	transition: none;
	transform: translateY(-82px);
	transform: translateX(200px);

	transform: translateY(0px);
	transform: translateX(0px);
}

.chat-wrap-show {
	transition: opacity 0s ease-in-out 0.03s, transform 0.3s ease 0.03s;
	transition: none;
	opacity: 1;
	transform: translateY(0px);
	transform: translateX(0px);
}

.chat-disclaimer {
	font-size: 12px;
	line-height: 16px;
	background: rgb(247,247,247);
	background: var(--settings-bg);
	margin: 4px 0px 30px 0px;
	padding: 10px 14px;
	border-radius: 16px;
	opacity: 0.9;

	background: rgba(255,255,255, 0.6);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
}
.theme-religious .chat-disclaimer {
/*	display: none !important;
	*/
}

.message {
	padding-bottom: 20px;
}
.message-user {
	text-align: right;
}
.message-bubble {
	display: inline-block;
	background: rgb(230,229,235);
	background: var(--bubble-bg);
	border-radius: 18px;
	max-width: 270px;
	width: max-content;
	padding: 8px 14px 8px 14px;
	text-align: left;
	position: relative;

	background: rgba(255,255,255, 0.6);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	box-shadow: 1px 2px 24px rgba(255,255,255, 0.57);
	box-shadow: 0px 1px 32px 12px rgba(255,255,255, 0.3);
	box-shadow: 0px 1px 32px 12px rgba(180, 224, 254, 0.6);
}
.message-user .message-bubble {
	background: rgb(36,140,249);
	background: rgb(37,147,255);
	background: var(--bubble-user-bg);
	background: rgba(37,147,255,0.57);
	background: rgba(37,147,255,0.77);
}
.message-text {
	color: rgba(15,15,15,0.97);
	font-size: 14px;
	line-height: 18px;
	font-size: 16px;
	line-height: 21px;
	font-size: 16px;
	line-height: 20px;
	/*
	word-break: break-word;*/
}
.message-text:first-letter {
	/*
    text-transform: uppercase;*/
}
.message-user .message-text {
	color: #fff;
	color: rgba(255,255,255,0.97);
}
.message-time {
	font-size: 11px;
	color: #888;
	font-weight: 500;
	padding: 7px 7px 0px 7px;
	display: none;
}

.message-typing .message-bubble {
	animation: typing-bubble-anim 2.2s ease infinite;
}
@keyframes typing-bubble-anim {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.03);
    }
	100% {
        transform: scale(1);
    }
}

.message-typing .message-text div {
	background: transparent url(/assets/icon-dots-39e8b3fb1dedc228829ac74547a559a29741992c2ad0206f5b109e966d1332ad.png) no-repeat 50% 50%;
	background-size: 26px;
	width: 26px;
	height: 16px;
	opacity: 0.6;
	animation: typing-anim 1.4s ease infinite;
}
@keyframes typing-anim {
    0% {
        opacity: 0.25;
        transform: scale(0.93);
    }
    50% {
        opacity: 0.45;
        transform: scale(1.0);
    }
	100% {
        opacity: 0.25;
        transform: scale(0.93);
    }
}

.message-mute {
	position: absolute;
	bottom: 5px;
	right: -34px;
	background: #eee url(/assets/icon-play-7e258c158e12fc9e69c52fc88a7b77ebf785a760f35c8b105b049d8c2e2764cd.png) no-repeat 50% 50%;
	background-size: 10px;
	width: 26px;
	height: 26px;
	cursor: pointer;
	opacity: 0;
	border-radius: 50%;

	background-color: rgba(255,255,255, 0.6);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	box-shadow: 0px 1px 32px 12px rgba(255,255,255, 0.3);
	box-shadow: 0px 1px 32px 12px rgba(180, 224, 254, 0.6);
}
.message-typing .message-mute {
	display: none;
}
.message-mute-playing {
	background-image: url(/assets/icon-pause-15a465548e1464512fdf0e510facb5ef74861175b5d4a441eb66a199314c30d3.png);
	opacity: 0.8;
}
.message-mute-paused {
	background-image: url(/assets/icon-play-7e258c158e12fc9e69c52fc88a7b77ebf785a760f35c8b105b049d8c2e2764cd.png);
	background-position: 56% 50%;
	opacity: 0.8;
}
.message-mute-loading {
	background-image: url(/assets/icon-loading3-5252761962b261f19334cfc6a2e27ad3633f1c44f9df84e3393e6d13a4cf5857.gif);
	background-size: 14px;
	opacity: 0.8;
}
.message-user .message-mute {
	display: none;
}

.toolbar {
	position: fixed;
	bottom: -4px;
	left: 0px;
	width: 100%;
	height: 114px;
	height: auto;
}
@media (min-width: 420px)
{
	.toolbar {
		height: 132px;
		height: auto;
	}
}

.toolbar-fixed {
	position: absolute;
}
.toolbar-inner {
	margin: 0px auto 0px auto;
	max-width: 400px;
	padding: 0px 10px 15px 10px;
	background: rgba(var(--page-bg-colors), 0);
	/*
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);*/
}
@media (min-width: 420px)
{
	.toolbar-inner {
		padding-bottom: 30px;
	}
}


.footer {
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: auto;
	z-index: 200;
}
.footer-inner {
	margin: 0px auto 0px auto;
	max-width: 400px;
	padding: 14px 10px 14px 10px;
	background: rgba(var(--page-bg-colors), 0.85);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	text-align: center;
	font-size: 12px;
}
.view-chat .footer {
	display: none;
}

@media (min-width: 420px)
{
	.footer-inner {
		padding-bottom: 30px;
	}
}


.suggestions-wrap {
	padding-top: 30px;
	padding-bottom: 15px;
	display: none;
}
.suggestion-row {
	text-align: right;
}
.suggestion-bubble {
	display: inline-block;
	background: rgb(230,229,235);
	background: var(--bubble-bg);
	background: #fbfbfb;/*
	background: rgba(37,147,255,0.06);*/
	border: 0px solid var(--bubble-bg);/*
	border: 1px solid rgba(37,147,255,0.15);*/
	border-radius: 18px;
	max-width: 300px;
	padding: 8px 15px 8px 15px;
	margin: 0px 0px 7px 0px;
	text-align: left;
	position: relative;
	cursor: pointer;

	background: rgba(255,255,255, 0.7);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	box-shadow: 1px 2px 24px rgba(255,255,255, 0.57);
	box-shadow: 0px 1px 32px 12px rgba(255,255,255, 0.3);
	box-shadow: 0px 1px 32px 12px rgba(180, 224, 254, 0.5);
}
.suggestion-text {
	color: rgb(15,15,15);
	font-size: 14px;
	line-height: 18px;
}

.input-wrap {
	padding: 15px 0px 0px 0px;
	position: relative;
}
.input {
	-webkit-appearance: none;
	appearance: none;
	width: 100%;
	font-family: var(--font-sans);
	font-size: 16px;
	outline: none !important;
	padding: 12px 43px 12px 15px;
	margin: 0px 0px 0px 0px;
	border-radius: 7px;
	border-radius: 17px;
	border: 0px solid var(--input-border-color);
	background: var(--input-bg-color);
	color: var(--text-color);
	resize: none;
	display: block;
	font-weight: 400;

	background: rgba(255,255,255, 0.85);
	-webkit-backdrop-filter: blur(16px);
	backdrop-filter: blur(16px);
	box-shadow: 0px 1px 32px 12px rgba(255,255,255, 0.3);
	box-shadow: 0px 1px 32px 12px rgba(180, 224, 254, 0.6);
}

.input-settings {
	font-size: 18px;
	border-radius: 9px;
	margin-bottom: 5px;
	padding-right: 10px;

	border: none;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.05), 0px 0px 2px rgba(0,0,0,0.3) !important;
}
.input-key {
	font-size: 16px;
	padding-right: 12px;
	border-radius: 9px;
	margin-bottom: 5px;
}

.send-button {
	position: absolute;
	bottom: 5px;
	right: 5px;
	background: rgb(0,122,254) url(/assets/icon-arrow-up-b4cc8bf9e587093ee754ebf02c766a9b6cf488de4bf123ee46e28af4b2486566.png) no-repeat 50% 50%;
	background-size: 16px;
	background-color: rgba(37,147,255,0.82);
	height: 27px;
	width: 27px;
	border-radius: 50%;
	cursor: pointer;
	z-index: 10;
}


.input-small {

}

.search-input-wrap {
	position: relative;
	margin-bottom: 15px;
	background: #f2f2f2;
	background: rgb(238,238,238);
	background: rgba(238,238,238,0.6);
	background: rgba(232,230,230,0.6);

	background: #fff;
	border-radius: 11px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.05), 0px 0px 2px rgba(0,0,0,0.3);

/*
	background: rgba(232,230,230,0.5);
	box-shadow: none;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.1), 0px 0px 1px rgba(0,0,0,0);
	box-shadow: none;
	background: rgba(232,230,230,0.4);
	background: rgb(242,244,246);
	*/
}
.search-input {
	border: none;
	padding: 11px 10px 10px 50px;
	background: transparent;
	font-size: 18px;
	line-height: 26px;
/*
	text-align: center;
	padding: 11px 10px 11px 10px;*/
}

::placeholder {
	color: var(--text-color-light);
	color: rgb(141,141,141);
	color: rgb(107,108,109);
	color: rgb(141,141,141);
	opacity: 0.7; 
	opacity: 1;
}

.search-icon {
	position: absolute;
	top: 11px;
	left: 17px;
	background: transparent url(/assets/icon-cross-569aa6e56cc3ef8e0150acf9f15d6efb571d34ffa8ef58e43e73b20e1a6bdff1.png) no-repeat 50% 50%;
	background-size: 17px;
	width: 30px;
	height: 30px;
	transform: rotate(45deg);

	transform: rotate(180deg) scaleX(-1);
	transform: rotate(45deg);
	background-size: 28px;
	background-size: 18px;
	opacity: 1;
	top: 9px;
	left: 10px;
	pointer-events: none;
}
.search-button,
.search-button div {
	width: 28px;
	height: 28px;
}
.search-button {
	position: absolute;
	top: 8px;
	right: 9px;
	background: rgb(0,122,255);
	z-index: 2;
	border-radius: 50%;
	cursor: pointer;
	display: none;
}
.search-button div {
	background: transparent url(/assets/icon-chevron-abbc5ae31c4b142662963bd7b0d820fe2f7685f4f472a5c05d876c032970174b.png) no-repeat 55% 50%;
	background-size: 16px;
	filter: invert(100%);
}

.search-delete {
	position: absolute;
	top: 16px;
	right: 12px;
	background: transparent url(/assets/icon-cross-569aa6e56cc3ef8e0150acf9f15d6efb571d34ffa8ef58e43e73b20e1a6bdff1.png) 0px 0px no-repeat;
	background-size: 16px;
	height: 20px;
	width: 20px;
	z-index: 11;
	cursor: pointer;
	opacity: 0.6;
	display: none;
}

.toolbar-button {
	position: absolute;
	top: 20px;
	left: 0px;
	background: transparent url(/assets/icon-mic-2ebb03f035ce3a1fb9fb8ca1276afcecd86b6b8254781221a507bef69ce2afbe.png) no-repeat 50% 50%;
	background-size: 24px;
	height: 30px;
	width: 30px;
	cursor: pointer;
	display: none;
}
.toolbar-button-suggest {
	top: 20px;
	background-image: url(/assets/icon-suggest-e31fe6628b430c5f5953a08888bd964f659524b5a81bd89a5d5724897cf96187.png);
	opacity: 0.4;
}
.button-suggest-enabled {
	opacity: 1;
}
.toolbar-button-mic {
	top: 59px;
}
.toolbar-button-loading {
	background-image: url(/assets/icon-loading3-5252761962b261f19334cfc6a2e27ad3633f1c44f9df84e3393e6d13a4cf5857.gif);
	background-size: 16px;
	opacity: 0.8;
}

.button {
	font-size: 16px;
	line-height: 16px;
	background: #eee;
	background: #fff;
	border: none;
	border: 1px solid var(--input-border-color);
	border-radius: 7px;
	padding: 13px 24px 14px 24px;
	cursor: pointer;
	margin: 15px 0px 0px 0px;
	font-weight: 600;
	color: var(--text-color);

	border: none;
	background: #fff;
	border-radius: 112px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.05), 0px 0px 2px rgba(0,0,0,0.3);

	background: rgb(0,122,254);
	background: #5c99ed;
	color: #fff;
	border: none;
	box-shadow: none;
}
.button-full {
	display: block;
	width: 100%;
	padding: 15px 24px 15px 24px;
	font-size: 17px;
	line-height: 17px;
}

.button-clear {
	position: absolute;
	top: -16px;
	right: 20px;
	padding: 8px 10px 8px 10px;
	font-size: 12px;
	line-height: 12px;
	color: rgb(251,59,49);
	width: auto;
	border-radius: 7px;

	background: #fff;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.05), 0px 0px 2px rgba(0,0,0,0.3);
}
.theme-religious .button-clear {
	
}

.select {
	-webkit-appearance: none;
	appearance: none;

	margin: 0px;
	font-size: 15px;
	line-height: 15px;
	background: #e0e0e0;
	background: var(--input-bg-color);
	border: 1px solid var(--input-border-color);
	border-radius: 6px;
	padding: 10px 32px 10px 14px;
	font-weight: 400;
	color: var(--text-color);

	border: none;
	background: #fff;
	border-radius: 7px;
	box-shadow: 0px 3px 15px rgba(0,0,0,0.05), 0px 0px 2px rgba(0,0,0,0.3);

	background: var(--input-bg-color);
	background-image: url("data:image/svg+xml;utf8,<svg fill='black' height='24' viewBox='0 0 24 24' width='24' xmlns='http://www.w3.org/2000/svg'><path d='M7 10l5 5 5-5z'/><path d='M0 0h24v24H0z' fill='none'/></svg>");
	background-repeat: no-repeat;
	background-position-x: 96%;
	background-position-y: 50%;
}

.settings-wrap {
	display: none;
	position: relative;
/*	
	position: fixed;
	top: 69px;
	top: 55px;
	left: 0px;*/
	width: 100%;
	padding-top: 0px;
	margin: 117px 0px 150px 0px;
	margin-top: 60px;
	margin-top: 0px;
	z-index: 50;
}
@media (min-width: 420px)
{
	.settings-wrap {
		/*
		top: 111px;
		top: 85px;*/
		margin-top: 90px;
		margin-top: 0px;
	}
}
.settings-inner {
	margin: 0px auto 0px auto;
	max-width: 400px;
	/*
	background: rgba(var(--page-bg-colors), 0.85);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);*/
	padding: 15px 15px;
	padding: 2px 0px;
}

.settings-card {
	background: var(--settings-bg);
	background: rgb(238,238,238);
	background: rgb(242,244,246);
	background: transparent;
	border-radius: 20px;
	padding: 0px 15px 20px 15px;
	position: relative;
}

.settings-label {
	padding: 12px 5px 3px 6px;
	font-weight: 500;
	font-size: 15px;
	opacity: 0.7;

	padding: 15px 5px 6px 6px;
	font-weight: 600;
	font-size: 16px;
	opacity: 1;
}
.settings-row {
	display: block;
	padding: 5px 5px 5px 5px;
	position: relative;
}


.settings-header {
	position: relative;
}
.settings-value {
	position: absolute;
	right: 8px;
	top: 15px;
	font-weight: 600;
}

.settings-avatar {
	height: 56px;
	width: 56px;
	display: inline-block;
	border-radius: 50%;
	background: #ddd url(/assets/avatar-placeholder-67c79eebf1a88a55ca65aeee4bb69319acdf1fd787123a15d5d60f6fee23216a.png) no-repeat 50% 67%;
	background-size: 50px;
	cursor: pointer;
	position: relative;
	margin-top: 5px;
}
.settings-info {
	font-size: 12px;
	padding: 6px 0px 0px 5px;
}

.settings-message-wrap {
	position: relative;
	margin: 3px 0px 0px 0px;
	padding: 4px;
}
.settings-gradient,
.settings-message {
	position: absolute;
	left: 0px;
	width: 190px;
}
.settings-gradient {
	top: 0px;
	height: 37px;
	position: absolute;
	background: linear-gradient(90deg, #44ff9a -0.55%, #44b0ff 22.86%, #8b44ff 48.36%, #ff6644 73.33%, #ebff70 99.34%);
	filter: blur(7px);
	opacity: 0.2;
	transform: scale(1.02);
	border-radius: 124px;
	display: none;
}
.settings-message {
	position: relative;
	top: 0px;
	z-index: 2;
	padding: 2px 6px;
	padding: 0px;
	text-align: center;
	white-space: nowrap;
}
.settings-message div {
	position: relative;
	height: 26px;
	padding: 5px 11px;
	padding: 3px 7px;
	font-size: 12px;
	border-radius: 5px;	
	background: rgba(255,255,255,0);
	-webkit-backdrop-filter: blur(12px);
	backdrop-filter: blur(12px);
	white-space: nowrap;
}

.settings-info-top {
	padding: 0px 20px 17px 6px;
	font-weight: 400;
	font-size: 17px;
	line-height: 24px;
	opacity: 1;
}
.settings-info-top-small {
	font-size: 15px;
	line-height: 21px;
	padding-top: 15px;
	padding-right: 5px;
}
.settings-info-bottom {
	font-size: 12px;
	line-height: 16px;
	position: relative;
	padding: 15px 4px 8px 6px;
}

.settings-heading {
	padding: 0px 0px 4px 6px;
	font-size: 23px;
	font-weight: 600;
	text-align: left;
}


.preset-wrap {
	min-height: 77px;
	cursor: pointer;
	position: relative;
	margin-bottom: 10px;
	border-top: 1px solid #eee;
	padding: 10px 20px 2px 71px;
	user-select: none;
}
.preset-wrap:first-child {
	border-top: none;
}
.preset-image,
.preset-image div {
	height: 56px;
	width: 56px;
}
.preset-image {
	position: absolute;
	top: 15px;
	left: 0px;
	background: #ddd;
	display: inline-block;
	border-radius: 50%;
	overflow: hidden;
}
.preset-image div {
	background-repeat: no-repeat;
	background-position: 50% 50%;
	background-size: cover;
}
.preset-image-placeholder div {
	background-size: 44px;
}
.preset-topic {
	font-size: 18px;
	font-weight: 600;
	padding: 2px 0px 2px 0px;
	max-width: 185px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	user-select: none;
}
.results-wrap .preset-topic {
	max-width: 277px;
}
.preset-topic b {
	font-weight: 600;
	text-decoration: none;
	text-decoration-color: rgb(0,122,255);
	background: rgba(0,122,255,0.1);
	color: rgba(0,122,255,0.9);
	border-radius: 3px;
	padding: 2px;

	background: transparent;
	color: var(--text-color);
	padding: 0px;
	font-weight: 600;
}
.preset-description {
	font-size: 14px;
	line-height: 19px;
	font-weight: 400;
	color: #656565;

	overflow: hidden;
	display: -webkit-box;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	user-select: none;
}
.preset-arrow {
	position: absolute;
	top: 16px;
	right: 1px;
	background: transparent url(/assets/icon-chevron-abbc5ae31c4b142662963bd7b0d820fe2f7685f4f472a5c05d876c032970174b.png) no-repeat 50% 50%;
	background-size: 14px;
	height: 14px;
	width: 14px;
	opacity: 0.3;
	transition: opacity 0.2s ease;
}
.preset-updated {
	position: absolute;
	top: 14px;
	right: 28px;
	font-size: 14px;
	opacity: 0.6;
	user-select: none;
}
.preset-delete {
	position: absolute;
	top: 10px;
	right: -4px;
	background: transparent url(/assets/icon-cross-569aa6e56cc3ef8e0150acf9f15d6efb571d34ffa8ef58e43e73b20e1a6bdff1.png) no-repeat 50% 50%;
	background-size: 16px;
	height: 26px;
	width: 26px;
	opacity: 0;
	transition: opacity 0.2s ease;
	z-index: 10;
}

.preset-wrap-swiped .preset-arrow {
	opacity: 0;
	pointer-events: none;
}
.preset-wrap-swiped .preset-delete {
	opacity: 0.9;
	pointer-events: auto;
}

@media (hover: hover) {
	.preset-wrap:hover .preset-arrow {
		opacity: 0;
		pointer-events: none;
	}
	.preset-wrap:hover .preset-delete {
		opacity: 0.9;
		pointer-events: auto;
	}
}




.audio-embed {
	display: none;
}





.wiki-results-row {
	padding: 0px;
	cursor: pointer;
	clear: both;
	display: block;
    position: relative;
    text-decoration: none !important;
	border-bottom: 1px solid var(--sep-color);
	height: 57px;
}
.wiki-results-row:last-child,
.wiki-results-row-last {
	border-bottom: none;
}
.wiki-results-row-last {
	margin-bottom: 12px;
}
.wiki-results-row:hover {
	text-decoration: none;
}
.wiki-results-img {
	height: 56px;
	width: 56px;
	border-radius: 50%;
	overflow: hidden;
	position: absolute;
	top: 7px;
	left: 14px;
}
.wiki-results-row-mostread .wiki-results-img {
	left: auto;
	right: 14px;
}
.wiki-results-img div {
	height: 56px;
	width: 56px;
	background-size: cover;
	background-position: 50%;
    background-repeat: no-repeat;
    background-color: transparent;
}
.wiki-results-img-placeholder {
	background-color: rgba(234,236,240,0.8);
	background-color: var(--box-bg-dark);
}
.wiki-results-img-placeholder div {
	background-size: 32px;
	background-position: 51% 55%;
}
body.theme-dark .wiki-results-img-placeholder div,
body.theme-black .wiki-results-img-placeholder div,
body.theme-slate .wiki-results-img-placeholder div {
	filter: invert(90%);
}
.wiki-results-title {
	font-size: 16px;
	line-height: 20px;
	font-weight: 600;
	color: rgb(74,79,83);
	color: rgb(70,75,79);
	color: rgb(67,72,76);
	color: var(--text-color) !important;
	opacity: 0.88;
	padding: 8px 10px 2px 10px;
}
.wiki-results-title b {
	font-weight: 400;
}
.wiki-results-desc {
	font-size: 13px;
	line-height: 17px;
	color: rgb(114,119,125);
	color: var(--text-color-lighter) !important;
	padding: 0px 10px 5px 10px;
}
.wiki-results-title,
.wiki-results-desc {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	max-width: 380px;
	padding-right: 35px;
	padding-left: 69px;
}
.wiki-results-row-mostread .wiki-results-title,
.wiki-results-row-mostread .wiki-results-desc {
	padding-left: 51px;
	padding-left: 46px;
	padding-right: 69px;
}
.wiki-results-row:hover,
.wiki-results-row-selected {
	background-color: var(--search-row-hover);
	border-radius: 6px;
}
.wiki-results-row:hover .wiki-results-title, 
.wiki-results-row-selected .wiki-results-title {
	

}
.wiki-results-number {
	display: inline-block;
	position: absolute;
	top: 18px;
	top: 11px;
	left: 14px;
	width: 21px;
	height: 21px;
	border-radius: 50%;
	text-align: center;
	font-size: 10px;
	padding-top: 3px;
	box-shadow: 0px 0px 1px rgba(var(--theme-colors),0);
	border: 1px solid rgba(var(--theme-colors),0.7);
	color: rgba(var(--theme-colors),1);
}




.music {
	display: none;
}




input[type='range'] {
	margin: 5px 0px 4px 0px;
	outline: none;
	padding: 0;
	height: 4px;	
	background: var(--slider-bg);
	border-radius: 50px;
	cursor: pointer;
	-webkit-appearance: none;
	display: inline-block;
	position: relative;
	top: 0px;
	width: 100%;
}

input[type='range']::-webkit-slider-runnable-track {
	box-shadow: none;
	border: none;
	background: transparent;
	-webkit-appearance: none;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background: var(--slider-thumb-bg);
	border-radius: 100px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	border: 0px solid transparent;
	box-shadow: var(--slider-box-shadow);
}
input[type='range']::-moz-range-thumb {
	-webkit-appearance: none;
	background: var(--slider-thumb-bg);
	border-radius: 100px;
	cursor: pointer;
	width: 28px;
	height: 28px;
	border: 0px solid transparent;
	box-shadow: var(--slider-box-shadow);
}



/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *


 */